@(msg: String, persons: java.util.List[Person])

@main(msg) {
    <h1>Index page</h1>
    <b>Use REST first</b>
    <ul>
        <li>
            Add new person:<br>
            http POST :9000/person name=sample birthdate=YYYY.MM.DD<br>
                <br>
        </li>
        <li>
            List persons data:<br>
            http GET :9000/person<br>
                <br>

        </li>
        <li>
            Update person data:<br>
            http PUT :9000/person/id name=newName birthdate=newBirthdate<br>
                <br>
        </li>
        <li>
            Delete person:<br>
            http DELETE :9000/person/id<br>
                <br>
        </li>
        <li>
            Print person data:<br>
            http GET :9000/person/id<br>
                <br>
        </li>
        <li>
            Send a file:<br>
            curl -i -v -k -F name=filename http://localhost:9000/file<br>
        </li>
    </ul>


    <b>Added persons:</b><br>
    <ul>
        @if(persons.isEmpty) {
            Nothing to show
        } else {
            @for(p <- persons) {
                <li>@p.getId) @p.getName - @p.getBirthdate</li>
            }
        }
    </ul>
}
